<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List | Fullstack</title>
    <link rel='stylesheet' href="/public/style.css">
</head>
<body>
    <header>
        <h4>Fullstack Todo List</h4>
    </header>
    <main>
        <form class="todo-form" method="POST">
            <input type="text" class="task-input" name="taskName" placeholder="Enter Something">
            <button type="submit" class="submit-btn">Submit</button>
        </form>
        <ol class="task-list">

        </ol>
    </main>
    <script>
        //Read all Tasks from the Database on page reload
        window.addEventListener('load',()=>{
            //fetch('http://localhost:8000/read')
            fetch('/read')
            .then(response=>response.json())
            .then(data=>{
                data.taskArray.forEach(item=>{
                    document.querySelector('.task-list').innerHTML+=`<li class='list-item' id=${item._id} onclick='deleteTask(event)'>${item.name}</li>`;
                });
            });
        });

        //Create a Task in the Database on button click/form submitted
        document.querySelector('.submit-btn').addEventListener('click',(event)=>{
            event.preventDefault();
            var task=document.querySelector('.task-input').value;
            /*fetch('http://localhost:8000/post', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: 'taskName='+task
            })*/
            fetch('/post', {
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: 'taskName='+task
            })
            .then(response => response.json())
            .then(data=>{
                console.log(data);
            });
            //Reload the page manually
            location.reload();
        });

        //Delete the clicked/selected task
        function deleteTask(event){
            var taskId=event.target.id;
            /*fetch('http://localhost:8000/delete',{
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: 'taskId='+taskId
            })*/
            fetch('/delete',{
                method: 'POST',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: 'taskId='+taskId
            })
            .then(response => response.json())
            .then(data=>{
                console.log(data);
            });
            //Reload the page manually
            location.reload();
        }
    </script>
</body>
</html>